@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-astroneer: var(--font-astroneer);
  --font-inter: var(--font-inter);
}

body {
  font-family: var(--font-astroneer), sans-serif;
}

:root { --bg-main: url('/bg2.svg'); }
.dark { --bg-main: none; }
